<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
		<title>Download unload</title>
</head>
    <body>

<h4> Download unload </h4>
<!---
<form enctype="application/x-www-form-urlencoded"></form>
---->
           <form enctype="multipart/form-data"
                     action=" " method="post">
               {% csrf_token %}
           <p>#:<input type= "file" name="picture" /></p>
           <p><input type="text" name="description" /></p>
           <p><input type="submit" value="Unload" /></p>
            </form>
    {% for pic in pictures %}
<div>
    <img src="{{pic.image.url}}" alt="roor">
    <p>{{pic.description }}</p>
</div>
    {% endfor %}
</body>
</html>